.available-container {
    width: 68%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 320px;
    height: 50%;

    display: flex;
    justify-content: space-between;

}

.available-text-container {
    width: 30%;

    .available-text {
        font-weight: 700;
        text-decoration: underline;
        font-family: 'Inter', sans-serif;

    }

    .pdf-text, .commission-text{
        font-family: 'Hind', sans-serif;
        padding: 20px;
        border-bottom: 1px solid lightgray;
    }

    .selected-text-ac {
        font-family: 'Hind', sans-serif;
        font-weight: 700;
        padding: 20px;
        border-bottom: 1px solid lightgray;
    }
}

.pdf-text:hover, .commission-text:hover {
    cursor: pointer;
}

.available-sub-categories {
     width: 50%;

    .selected {
        display: block;
        font-family: 'Hind', sans-serif;
    }

    > div {
        display: none;

    }
    
    .email {
        font-weight: bold;
    }

    .email:hover {
        cursor: pointer;
    }

    .pdf {
        color: blue;
    }
}



