

.commissions-container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: rgba(119, 119, 119, 0.856);
    padding-left: 8%;
    padding-right: 8%;

    .ann-container {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
    

        p {
            margin-left: 30px;
            text-align: justify;
            text-justify: inter-word;

            span {
                font-weight: 700;
                font-family: 'Inter', sans-serif;
                color: rgba(119, 119, 119, 0.856);

            }
        }
        .ann {
            max-width: 400px;
            max-height: 450px;
        }
    }

    .reclining {
        width: 400px;
        height: 320px;
    }
}