.cv-container {
    width: 80%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 120px;
    display: flex;
    justify-content: space-between;

}

.cv-text-container {
    width: 30%;

    .cv-text {
        font-weight: 700;
        text-decoration: underline;
        font-family: 'Inter', sans-serif;
    }

    .shows-text,  .education-text, .press-text{
        font-family: 'Hind', sans-serif;
        padding: 20px;
        border-bottom: 1px solid lightgray;
    }

    .selected-text {
        font-family: 'Hind', sans-serif;
        font-weight: 700;
        padding: 20px;
        border-bottom: 1px solid lightgray;
    }
}



.education-text:hover, .press-text:hover, .shows-text:hover {
    cursor: pointer;
}

.sub-categories {
    width: 50%;

    .selected {
        display: block;
        font-family: 'Hind', sans-serif;
        font-weight:200;

        ul {
            padding: 5px;
        }
        .yr {
            font-weight: bold;
        }
    }

    > .press, .education, .shows {
        display: none;

    }
}