.cv-container {
    width: 68%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 320px;
    height: 50%;
    display: flex;
    justify-content: space-between;

}

.cv-text-container {
    width: 20%;

    .cv-text {
        font-weight: bold;
        text-decoration: underline;
    }

    .shows-text,  .education-text, .press-text{
        font-family: sans-serif;
        font-weight: lighter;
        padding: 20px;
        border-bottom: 1px solid lightgray;
    }

    .selected-text {
        font-family: sans-serif;
        font-weight:normal;
        padding: 20px;
        border-bottom: 1px solid lightgray;
    }
}



.education-text:hover, .press-text:hover, .shows-text:hover {
    cursor: pointer;
}

.sub-categories {
    width: 50%;

    .selected {
        display: block;
        font-family: sans-serif;
        font-weight:200;

        .yr {
            font-weight: bold;
        }
    }

    > .press, .education, .shows {
        display: none;

    }
}