
.little-pieces-render {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin-left: 8%;
    margin-right: 8%;

    .sub-image-container {
        transition: opacity 0.3s ease;
        margin-bottom: 50px;
        margin-left: 25px;
        margin-right: 25px;
        max-width: 500px;
        max-height: 500px;
        position: relative;
        text-align: center;

        .little-text {
            opacity: 0;
        }
    }

    .sub-image-container:hover {

        .sub-image {
            opacity: .4;
        }

        .little-text {
            width: 100%;
            font-size: 35px;
            color: #7c7c7c;
            font-family: 'Inter', sans-serif;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 1;
        }

    }
}