
.little-pieces-render {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin-left: 8%;
    margin-right: 8%;

    .sub-image-container {
        transition: opacity 0.3s ease;
        margin-bottom: 50px;
        margin-left: 25px;
        margin-right: 25px;
        max-width: 450px;
        max-height: 450px;
        position: relative;
        text-align: center;
    }
}

.flower-catalogue {
    font-size: 25px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.pdf {
    font-weight: bold;
}