
@media only screen and (max-width : 900px) {
    body {
        //  background-color: olive;
         
    }



    
    .splash-container {
        background-image: url('https://maggieshafran-seeds.s3.amazonaws.com/splash/E5D3AE1D-6359-4105-96DA-76ABFA63F3AF.jpg');
        // background-image: url('');
        height: 100vmax;
        // max-width: 900px;

        background-size: cover;

        .splash-text {
            margin-top: 20%;
        }

    }

    .headshot {
        display: none;
    }

    .about-section {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        background-color: white;
    }

    .about-text {
          width: 90%;
          margin-top: 10px;
          margin-bottom: 10px;
    }

    .contact-container {
        color: white;
        margin-bottom: 0px;
        margin-top: 10px;
    }


    // navbar 

    .mobile-menu {
        // display: none;
        height: 50px;
        display: flex;
        flex-direction: column;


        .hamburger {
           display: flex;
           position: fixed;
           margin-left: 5%;
           margin-top: 3%;
        }

        .navbar-items {
            //  transition: opacity 0.3s ease;
            display: none;
            
        }
        
        .selected-nav {
            margin-top: 8%;
            margin-left: 8%;
            width: 15%;
            // height: 100vmax;
            background-color: white;
            border: 1px solid green;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }
    }

    .painting-render {
        margin-top: 25px;
        width: 600px;
        column-count: 1;
        column-gap: 1em;

    }

    .icons {
        display: flex;
        flex-direction: row;
        width: 650px;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        margin-top: 200px;

    }

    .text {
        display: none;
    }
     
}