
@media only screen and (max-width : 750px) {

    .splash-container {
        display: flex;
        align-items: center;
        flex-direction: column; 

        background-image: url('https://maggieshafran-seeds.s3.amazonaws.com/splash/E5D3AE1D-6359-4105-96DA-76ABFA63F3AF.jpg');
        position: absolute;
        margin-top: 50px;
        width: 100%;
        object-position: 50% 50%;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        height: 100vmax;
        background-attachment: fixed;

        .splash-text {
            // margin-top: 100px;
            // margin-bottom: 100px;
        }

        .about-section {
            display: flex;
            justify-content: center;
            background-color: white;
            width: 100%;
            margin-top: 150px;

            .headshot {
                display: none;
            }

        
            .about-text {
                    width: 90%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-top: 5px;
                    margin-bottom: 50px;
                    margin-left: 5%;

                    .about {
                        font-size: 40px;

                    }
        
                  .lives {
                      font-size: 15px;
                  }
        
                  .bio {
                      font-size: 20px;
                  }
                  
            }
        }

        .contact-container {
            width: 100%;
            bottom: 0;
            font-family: 'Lato', sans-serif;
            font-weight: 200;

            display: flex;
            align-items: center;
            flex-direction: column;
            margin-top: 16px;

            .contact, .email {
                color: rgba(168, 168, 168, 0.856);
                padding: 5px;
            }
        }

    }

    // navbar 

    .mobile-menu {
        height: 50px;
        display: flex;
        flex-direction: column;


        .hamburger {
           display: flex;
           position: fixed;
           margin-left: 3%;
        //    margin-top: 3%;
            color: rgba(168, 168, 168, 0.856);
            font-size: 30px;

        }

        .navbar-items {
            display: none;
            
        }
        
        .selected-nav {
            position: absolute;
            height: 100%;
            display: block;
            overflow-y: auto;
            box-sizing: border-box;
            min-height: 100vh;
            background-color: rgb(255, 255, 255);
            border-right: 1px solid rgb(224, 224, 224);
            left: 0px;
            top: 50px;

            .item {
                font-size: 20px;
                 color: rgba(168, 168, 168, 0.856);
                 margin-left: 10px;

                 padding: 15px;

            }

            .selected {
                font-size: 20px;
                 color: rgba(168, 168, 168, 0.856);
                 margin-left: 10px;

                 padding: 15px;

        


            }

        
        }
    }

    .painting-render {
        margin-top: 25px;
        max-width: 400px;
        column-count: 1;
        column-gap: 1em;

    }

    .icons {
        display: flex;
        flex-direction: row;
        width: 300px;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        margin-top: 50px;

    }

    .text {
        display: none;
    }

    .projects-container {
        margin-top: 80px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .project-index-description {
        margin-top: 15px;
        display: flex;
        min-width: 400px;
       
    }

    .friendship_container {
        margin-top: 80px;
    }


    // cv 

    .cv-container {
        width: 80%;
        margin-top: 170px;

        .shows-text,  .education-text, .press-text{
            width: 55px;
        }

        .selected-text {
            width: 55px;
        }
    }

    // available work 

    .available-container {
        width: 80%;
        // border: 1px solid green;
        margin-top: 170px;

        .pdf-text , .commission-text {
            width: 65px;
        }

        .selected-text-ac {
            width: 65px;

        }



    }
}


@media only screen and (max-width : 400px) {
    .maggie-splash {
        color: white;
        font-family: 'Lato', sans-serif;
        font-weight: 200;
        font-size: 38px;
    }
}