
@media only screen and (max-width : 750px) {

    .splash-container {
        display: flex;
        align-items: center;
        flex-direction: column; 

        background-image: url('https://maggieshafran-seeds.s3.amazonaws.com/splash/splashimage.JPG');
        position: absolute;
        margin-top: 50px;
        width: 100%;
        object-position: 50% 50%;
        background-size: cover;
        background-position: top center;
        background-size: 800px 500px;
        background-repeat: no-repeat;
        height: 100vmax;
        background-attachment: fixed;

        .splash-text {
            margin-top: 100px;

            .maggie-splash {
                font-size: 40px;
            }

            .artist-work {
                font-size: 24px;
            }

            .maggie-splash, .artist-work {
                color: rgba(119, 119, 119, 0.856);
            }
        }

        .about-section {
            display: flex;
            justify-content: center;
            background-color: white;
            width: 100%;
            margin-top: 150px;

            .headshot {
                display: none;
            }

        
            .about-text {
                    width: 90%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-top: 8px;
                    margin-bottom: 50px;
                    margin-left: -3%;

                    .about {
                        font-size: 45px;

                    }
        
                  .lives {
                      font-size: 15px;
                  }
        
                  .bio {
                      font-size: 20px;
                  }
                  
            }
        }

        .contact-container {
            width: 100%;
            bottom: 0;
            font-family: 'Lato', sans-serif;
            font-weight: 200;

            display: flex;
            align-items: center;
            flex-direction: column;
            margin-top: 16px;

            .contact, .email {
                color: rgba(168, 168, 168, 0.856);
                padding: 5px;
            }
        }

    }

    // navbar 

    .mobile-menu {
        height: 50px;
        display: flex;
        flex-direction: column;


        .hamburger {
           display: flex;
           position: fixed;
           margin-left: 3%;
            color: rgba(168, 168, 168, 0.856);
            font-size: 30px;

        }

        .navbar-items {
            display: none;

            
            
        }
        
        .selected-nav {
            position: absolute;
            height: 100%;
            display: block;
            overflow-y: auto;
            box-sizing: border-box;
            min-height: 100vh;
            background-color: rgb(255, 255, 255);
            border-right: 1px solid rgb(224, 224, 224);
            left: 0px;
            top: 50px;

            .splash-logo {
                display: none;
            }

            .item {
                 font-family: 'Inter', sans-serif;
                font-size: 20px;
                 color: rgba(168, 168, 168, 0.856);
                 margin-left: 10px;
                 padding: 15px;

            }

            .selected {
                font-size: 20px;
                 color: rgba(168, 168, 168, 0.856);
                 margin-left: 10px;
                 padding: 15px;

            }

        
        }
    }

    .painting-render {
        margin-top: 25px;
        max-width: 400px;
        column-count: 1;
        column-gap: 1em;
    }

    .painting-render-3 {
        margin-top: 25px;
        max-width: 400px;
        column-count: 1;
        column-gap: 1em;
    }

    .icons {
        display: flex;
        flex-direction: row;
        min-width: 75%;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        margin-top: 220px;

    }


    .projects-container {
        margin-top: 80px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);

        .proj1-container {
            margin-bottom: 50px;
            max-width: 500px;
            max-height: 500px;
            position: relative;
            text-align: center;
            
                .text {
                    position: absolute;
                    width: 100%;
                    font-size: 35px;
                    color: #666666;
                    font-family: 'Inter', sans-serif;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    opacity: 1;
                }
                
                .project-home-image {
                    opacity: .4;
                }

            }
    }

    .project-index-description {
        margin-top: 15px;
        display: flex;
        width: 80%; 
    }

    .sketchbook {
        display: flex; 
        text-align: center;
    }


    .painting-show-image {
        min-width: 200px;
        max-width: 310px;
    }

    .icons {
        // min-width: 95%;
        display: none;
    }

    .mobile-icons {
        color: #666666;
        display: flex;
        flex-direction: row;
        min-width: 70%;
        justify-content: space-between;
        align-items: center;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 20px; 
        padding-bottom: 20px;

        button {
            color: #666666;
        }
    }

    .next, .previous {
        display: flex;

    }

    .friendship_container {
        margin-top: 80px;
    }


    // cv 

    .cv-container {
        width: 80%;
        margin-top: 100px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        .sub-categories {
            width: 90%;
            display: flex; 
            flex-direction: column;
            align-items: center;

            .shows-mobile, .education-mobile, .press-mobile {
                // display: inline-block;
                font-weight: 700;
                color: rgba(119, 119, 119, 0.856);
                font-family: 'Inter', sans-serif;
                display: flex;
                justify-content: center;
                margin-bottom: 15px;
                margin-top: 15px;
            }

            .showsBody-mobile, .educationBody-mobile {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-family: 'Hind', sans-serif;
                width: 100%;

            }
        }

        .cv-text-container {

            .cv-text {
                display: flex;
                justify-content: center;
                // margin-bottom: 15px;
                font-size: 20px;
            }

            .selected-text, .press-text, .shows-text, .education-text {
                display: none;
            }
        }

        .shows-text,  .education-text, .press-text{
            width: 55px;
        }

        .selected-text {
            width: 55px;
        }
    }

    // available work 

    .available-container {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
         width: 95%;
        align-items: center;

        .available-sub-categories {
            width: 90%;

        }

        .selected-text-ac, .pdf-text, .commission-text {
            display: none;
        }

        
        .pdf-mobile, .commission-mobile {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: 'Hind', sans-serif;
            color: rgba(119, 119, 119, 0.856);
            
            
        }
        
        .selected-cata {
            text-align: center;
            margin-left: 0;
            color: rgba(119, 119, 119, 0.856);
            margin-top:0;
        }


        .commissions-mobile, .download-mobile {
            font-weight: 700;
            color: rgba(119, 119, 119, 0.856);
            font-family: 'Inter', sans-serif;
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
            margin-top: 10px;
        }

        .animal-pricing {
            width: 100%;
            margin-left: auto;
            display: flex;
            flex-direction: column;
            text-align: center;

        }

        .ann-container {
            margin-left: 0;
            max-width: 90%;
            display: flex; 
            flex-direction: column;
            align-items: center;

            p {
                margin-left: auto;
            }

            .ann, .reclining {
                margin-bottom: 10px;
            }

            .ann {
                max-width: 300px;
            }

            .reclining {
                max-height: 250px;
                max-width: 300px;
            }
        }

    .available-text-container {
        width: 70%;

    .available-text {
        display: flex;
        justify-content: center;
        font-size: 18px;
        margin-bottom: 10px;
        }

    }

    }
}
