.navbar-container {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid lightgray;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    position: fixed;
    top: 0; 
    width: 100%;
    background-color: white;
    z-index: 1;
    
}

.navbar-items {
    margin-top: 38px;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgba(219, 219, 219, 0.911);

}

.navbar-items {
    div {
        padding: 15px;
        border-top: 1px solid green;
        //  border: 3px solid transparent;

    }

    .selected {
        border-top: 3px solid rgb(208, 222, 247);
    }

    .item {
        // border-top: none;
        border-top: 3px solid transparent;
    }

    div:hover {
        color: black;
        cursor: pointer;
        // height: 3px;
        border-top: 3px solid rgb(208, 222, 247);
    }
}