.navbar-container {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid lightgray;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    position: fixed;
    top: 0; 
    width: 100%;
    background-color: white;
    z-index: 1;

    .hamburger {
        display: none;
    }
    
}

.navbar-items {
    margin-top: 40px;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgba(82, 80, 80, 0.671);

    // border: 1px solid blue;

}

.navbar-items {

    .splash-logo {
        height: 100px;
        width: 100px;
        margin-top: -30px;
        margin-bottom: 5px;
    }

    div {
        padding: 15px;
    }

    .selected {
        border-top: 3px solid #7796CB;
    }

    .item {
        // border-top: none;
        border-top: 3px solid transparent;
    }

    .project-item {
        border-top: 3px solid transparent;
        margin-right: 63px;
    }

    .project-selected {
         border-top: 3px solid rgb(153, 153, 153);
          margin-right: 63px;
    }

    div:hover {
        color: black;
        cursor: pointer;

        border-top: 3px solid #7796CB;
    }
}