.navbar-container {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid lightgray;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    position: fixed;
    top: 0; 
    width: 100%;
    background-color: white;
    z-index: 1;
    
}

.navbar-items {
    margin-top: 38px;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgba(168, 168, 168, 0.856);
    // border: 1px solid blue;

}

.navbar-items {

    div {
        padding: 15px;
    }

    .selected {
        border-top: 3px solid rgb(153, 153, 153);
    }

    .item {
        // border-top: none;
        border-top: 3px solid transparent;
    }

    .project-item {
        border-top: 3px solid transparent;
        margin-right: 63px;
    }

    .project-selected {
         border-top: 3px solid rgb(153, 153, 153);
          margin-right: 63px;
    }

    div:hover {
        color: black;
        cursor: pointer;

        border-top: 3px solid rgb(153, 153, 153);
    }
}