
.painting-show-container {
    display: flex;
    justify-content: center;
    color: rgba(168, 168, 168, 0.856);
    font-family: 'Open Sans', sans-serif;
    margin-top: 85px;    
}


.painting-show {

    display: flex;
    align-items: center;
    flex-direction: column;

    object-fit: contain;
    transform: none;
    max-width: 480px;
    max-height: 680px;

}

.painting-show-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

        margin-top: 20px;
}

.icons-left, .icons-right > button > i{
    font-size: 45px;
}

.show-image {
    width: auto;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    img {
        padding-left: 90px;
        padding-right: 90px;
    }

}


