
.painting-show-container {
    display: flex;
    justify-content: center;
    color: rgba(168, 168, 168, 0.856);
    font-family: 'Hind', sans-serif;
    margin-top: 120px;  
}


.painting-show {
    min-height: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    object-fit: contain;
    transform: none;
    justify-content: center;
}

.painting-show-image {
    min-width: 1200px;
    max-width: 1200px;
}

.painting-show-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.painting-show-text-update {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.icons {
    display: flex;
    flex-direction: row;
    min-width: 70%;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    margin-top: 250px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px; 
    padding-bottom: 20px;


}

.icons-left, .icons-right > button > i{
    font-size: 45px;
}

i:hover {
     color: rgba(78, 78, 78, 0.856);
}

.painting-show-image {
    
        max-width: 500px;
        max-height: 600px;
        object-fit: contain;

}

.update-show-input {
    border: 1px solid rgba(168, 168, 168, 0.856);
    padding: 3px;
    margin-top: 2px;
}


