
.painting-show-container {
    display: flex;
    justify-content: center;
    color: rgba(168, 168, 168, 0.856);
    font-family: 'Open Sans', sans-serif;
    margin-top: 85px;    
}


.painting-show {

    display: flex;
    align-items: center;
    flex-direction: column;

    object-fit: contain;
    transform: none;
    max-width: 500px;
    max-height: 700px;

}

.painting-show-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

        margin-top: 20px;
}

.icons {
    display: flex;
    flex-direction: row;
    width: 800px;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    margin-top: 200px;

}

.icons-left, .icons-right > button > i{
    font-size: 45px;
}

.painting-show-image {
        margin-bottom: 50px;
}


