.all-project-text {
    // display: flex;
    // justify-content: center;
    // margin-top: 120px;
    //      color: rgba(168, 168, 168, 0.856);
    // font-family: 'Open Sans', sans-serif;
    // font-size: 30px;
}

.project-home-image {
    max-width: 500px;
    max-height: 500px;
}

.projects-container {
    margin-top: 150px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin-left: 8%;
    margin-right: 8%;

    .text {
        font-size: 28px;
        color: rgba(168, 168, 168, 0.699);
        font-family: 'Open Sans', sans-serif;
    }

    .proj1-container:hover .middle1 {
        opacity: 1;
    }

    .proj2-container:hover .middle2 {
        opacity: 1;
    }

     .proj3-container:hover .middle3 {
        opacity: 1;
    }

     .proj4-container:hover .middle4 {
        opacity: 1;
    }

      .proj5-container:hover .middle5 {
        opacity: 1;
    }

    .middle1 {
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 28%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }

    .middle2 {
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 70%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }

     .middle3 {
        opacity: 0;
        position: absolute;
        top: 130%;
        left: 28%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }

     .middle4 {
        opacity: 0;
        position: absolute;
        top: 130%;
        left: 70%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }

    .middle5 {
        opacity: 0;
        position: absolute;
        top: 200%;
        left: 29%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }

    img {
         margin-bottom: 10%;
        opacity: 1;
        width: 100%;
        height: auto;
        backface-visibility: hidden;
    }

    img:hover {
        cursor: pointer;
        opacity: 0.6;
    } 

}


