

.friendship_container {
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: rgba(168, 168, 168, 0.671);

    .project-index-header {
        font-size: 30px;
        text-transform: uppercase;
        font-family: 'Inter', sans-serif;
    }


    .project-index-description {
        color: rgba(82, 80, 80, 0.671);
        font-family: 'Hind', sans-serif;
        margin-top: 15px;
        max-width: 1100px;

         text-align: justify;
            text-justify: inter-word;

   
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;

        -webkit-column-gap: 20px;
        -moz-column-gap: 20px;
        column-gap: 20px;
    }
}

.painting-index-container:hover{
    cursor: pointer;
}

.painting-index-container {
    margin: 0 0 1em;
    width: 100%;

    // border: 1px solid blue;

    // second
}


.painting-render {
    margin-top: 25px;
    width: 1100px;
    column-count: 2;
    column-gap: 1em;

    // border: 1px solid green;

    // first 
}

.painting-render-3 {
    margin-top: 25px;
    width: 1100px;
    column-count: 3;
    column-gap: 1em;

    // first 
}

.update-position {
    border: 1px solid lightgray;
}






