

.friendship_container {
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
      color: rgba(168, 168, 168, 0.856);
    font-family: 'Open Sans', sans-serif;

    .project-index-header {
        font-size: 30px;
    }


    .project-index-description {
        margin-top: 15px;
        display: flex;
        align-items: center;
        width: 60%;
    }
}


.painting-index-container {
    // border: 1px solid blue;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
}

.painting-index-image {
    max-height: 800px;
    max-width:  500px;
}

.painting-index-container:hover{
    cursor: pointer;
}

.painting-render {
    width: 1000px;

    column-count: 3;
    column-gap: 1em;


}





