
.friendship_container {
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
      color: rgba(168, 168, 168, 0.856);
    font-family: 'Open Sans', sans-serif;

    .project-index-header {
        font-size: 30px;
    }


    .project-index-description {
        margin-top: 15px;
        display: flex;
        align-items: center;
        width: 60%;
    }
}

.painting-index-image {
    // width: 500px;
    // height: 500px;
}

.painting-index-container {
    // border: 1px solid blue;
    width: 420px;
    height: 420px;
    // display: inline;
    // margin-left: 30px;
    // margin-bottom: 240px;
}

.painting-index-container:hover{
    cursor: pointer;
}

.painting-render {
    // border: 5px solid green;
    margin-top: 15px;

    display: grid;
    // grid-template-columns: repeat(auto-fill, 1fr);
    // grid-template-rows: masonry;


    // grid-auto-flow: row;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 2%;
    margin-right: 2%;
}
