
.project-home-image {
    max-width: 500px;
    max-height: 500px;
}

.projects-container {
    margin-top: 150px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin-left: 8%;
    margin-right: 8%;

    .text {
        font-size: 28px;
        color: rgba(0, 0, 0, 0.699);
        font-family: 'Open Sans', sans-serif;
        z-index: 1;
        font-weight: bold;
    }

    // .proj1-container:hover .middle1 {
    //     opacity: 1;
    // }


    .middle1 {
        opacity: 0;
        position: relative;
        bottom: 55%;
        left: 21%;
    }

    .proj1-container, .proj2-container, .proj3-container, .proj4-container, .proj5-container {
        transition: opacity 0.3s ease;
    }

    .proj1-container:hover {
        opacity: .8;

        .middle1 {
            opacity: 1;
        }
    }

    .middle2 {
        opacity: 0;
        position: relative;
        bottom: 55%;
        left: 18%;
    }


    .proj2-container:hover {
        opacity: .8;

        .middle2 {
            opacity: 1;
        }
    }

     .middle3 {
         opacity: 0;
        position: relative;
        bottom: 55%;
        left: 21%;
    }


    .proj3-container:hover {
        opacity: .8;

        .middle3 {
            opacity: 1;
        }
    }


     .middle4 {
        opacity: 0;
        position: relative;
        bottom: 55%;
        left: 40%;
    }


    .proj4-container:hover {
        opacity: .8;

        .middle4 {
            opacity: 1;
        }
    }


    .middle5 {
        opacity: 0;
        position: relative;
        bottom: 55%;
        left: 35%;
    }


    .proj5-container:hover {
        opacity: .8;

        .middle5 {
            opacity: 1;
        }
    }

     .middle6 {
        opacity: 0;
        position: relative;
        bottom: 55%;
        left: 35%;
    }


    .proj6-container:hover {
        opacity: .8;

        .middle6 {
            opacity: 1;
        }
    }


    img {
        margin-bottom: 10%;
        opacity: 1;
        width: 100%;
        height: auto;
        backface-visibility: hidden;
    }

}


