@import url(//db.onlinewebfonts.com/c/1e6ec96c95301fa73aa1d026f161a269?family=MarzoW00-Regular);

.splash-image {
    margin-top: 50px;
    height: 100vh;
}

.maggie-splash {
    // position: absolute;
    // margin-top: 350px;
    color: white;
    font-family: 'MarzoW00-Regular';
    font-size: 44px;
}

.artist-type {
    // position: absolute;
    // margin-top: 410px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    // font-family: 'Raleway';
    font-size: 20px;
}

.artist-work {
    // position: absolute;
    // margin-top: 438px;
    color: white;
    // font-family: 'Raleway';
    font-family: 'Open Sans', sans-serif;

    font-size: 20px;
    font-style: italic;
}


.splash-container {
    display: flex;
    align-items: center;
    flex-direction: column; 

    .splash-text {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 350px;

    }

    background-image: url('splash.png');
    position: absolute;
    top: 0px;
    width: 100%;
    object-position: 50% 50%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;

}

.about-text {
    color: rgb(219, 219, 219);
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
       margin-left: 5%;

       .about{
           font-family: 'MarzoW00-Regular';
           font-size: 36px;
       }

       .lives, .bio {
           font-family: 'Open Sans', sans-serif;
           font-size: 14px;
       }

       .lives {
           font-style: italic;
       }
}

.about-section {

      margin-top: 400px;
    display: flex;
    justify-content: center;
    background-color: white;
}

.headshot {
    height: 500px; 
    width: 350px;

}

.contact-container {
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: 'MarzoW00-Regular';
    color: rgb(219, 219, 219);
    display: flex;
    align-items: center;
    flex-direction: column;


    .contact {
        font-size: 36px;
    }

    .email {
        font-size: 20px;
        font-family: 'Open Sans', sans-serif;
    }
}