

.maggie-splash {
    color: rgba(119, 119, 119, 0.856);
    font-family: 'Inter', sans-serif;
    font-size: 50px;
}

.artist-work {
   color: rgba(119, 119, 119, 0.856);
    font-family: 'Hind', sans-serif;
    font-size: 30px;
}


.splash-container {
    display: flex;
    align-items: center;
    flex-direction: column; 
    background-image: url('https://maggieshafran-seeds.s3.amazonaws.com/splash/splashimage.JPG');
    position: absolute;
    margin-top: 90px;
    width: 100%;
    object-position: 50% 50%;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    height: 100vmax;
    background-attachment: fixed;


    .splash-text {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 280px;

    }

    .about-section {
        margin-top: 340px;
        display: flex;
        justify-content: center;
        background-color: white;
        text-align: justify;
                text-justify: inter-word;

            .headshot {
                margin-bottom: 50px;
                margin-top: 130px;
            }

            .about-text {
                color: rgba(168, 168, 168, 0.856);
                width: 42%;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 50px;
                margin-left: 5%;

            .about{
                font-family: 'Inter', sans-serif;
                font-weight: 200;
                font-size: 36px;
            }
            .bio {
                font-family: 'Hind', sans-serif;
                font-size: 17px;
                margin-bottom: 18px;
                
   
            }
        }

    }

    .contact-container {
        width: 100%;
        
        font-weight: 200;
        color: rgba(168, 168, 168, 0.856);
        background-color: white;
        padding-bottom: 20px;


        display: flex;
        align-items: center;
        flex-direction: column;

        .contact {
            font-size: 36px;
            padding: 7px;
            font-family: 'Inter', sans-serif;
        }

        .email {
            font-size: 20px;
            padding: 5px;
            font-family: 'Hind', sans-serif;   
        }
    }

    
}




.headshot {
    height: 500px; 
    width: 350px;
    margin-top: 50px;
}



